/* Based on https://codepen.io/harmputman/pen/IpAnb */

/* https://google-webfonts-helper.herokuapp.com/ */

/* prettier-ignore */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* prettier-ignore */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ubuntu-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v20-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* prettier-ignore */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* prettier-ignore */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ubuntu-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ubuntu-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v20-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

blockquote.replit {
  color: #111;
  letter-spacing: 0;

  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote.replit:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdfdfd;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "PT Sans", sans-serif;
  color: #666;
  text-align: center;
}

blockquote.replit:after {
  content: "\2014\00A0"attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

blockquote.replit .ellipsis {
  color: #ccc;
}
