<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <h2 class="footer-heading">Intuitive Explanations</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Radon Rosborough</li>
          <li>
            <a class="u-email" href="mailto:radon@intuitiveexplanations.com"
              >radon@intuitiveexplanations.com</a
            >
          </li>
          <li>
            <a href="/about/contacting">How to contact me</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/raxod502"
              ><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">raxod502</span></a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Understand, don't memorize.</p>
      </div>
    </div>
  </div>
</footer>

{% if env.ENABLE_ANALYTICS %}
<script
  src="https://cdn.usefathom.com/script.js"
  site="OPNDVMZW"
  defer
></script>
{% endif %}
