/.jekyll-metadata/
/.sass-cache/
/_site/
/_src/tex/classes/auto/
/_src/tex/documents/*/auto/
/_src/tex/documents/*/*.aux
/_src/tex/documents/*/*.fdb_latexmk
/_src/tex/documents/*/*.fls
/_src/tex/documents/*/*.log
/_src/tex/documents/*/*.nav
/_src/tex/documents/*/*.out
/_src/tex/documents/*/*.pdf
/_src/tex/documents/*/*.snm
/_src/tex/documents/*/*.toc
/_src/tex/documents/*/*.xdv
/_src/placeholder/auto/
/_src/placeholder/*.aux
/_src/placeholder/*.fdb_latexmk
/_src/placeholder/*.fls
/_src/placeholder/*.log
/_src/placeholder/*.nav
/_src/placeholder/*.out
/_src/placeholder/*.pdf
/_src/placeholder/*.snm
/_src/placeholder/*.toc
/_src/placeholder/*.xdv
/_src/xcf/out/*.png
/_vendor/
