/public/
/rsa/deploy
/static/
/tex/classes/auto/
/tex/documents/*/*.aux
/tex/documents/*/*.fdb_latexmk
/tex/documents/*/*.fls
/tex/documents/*/*.log
/tex/documents/*/*.nav
/tex/documents/*/*.out
/tex/documents/*/*.pdf
/tex/documents/*/*.snm
/tex/documents/*/*.toc
/tex/documents/*/auto/
